.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  // opacity: 0;
  h2 {
    padding: 1rem;
  }
}
.dark_library{
  background-color: #2b2c2f;
  box-shadow: 2px 2px 50px rgb(29, 29, 29);

}
.open {
  transform: translateX(0);
  opacity: 1;
}
@media screen and (max-width: 768px){
  .library{
    width: 100%;
  }
}
