* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3,
h4 {
  color: rgb(97, 97, 97);
}
@import "./song";
@import "./player";
@import "./song";
@import "./library";
@import "./librarysong";
@import "./nav"; 
// #18181B
// #BBF7D0
// #87F0AE
